<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layout">
<th:block layout:fragment="page_head">
	<title>글쓰기</title>
	<script>
	$(document).ready(function() {
		$("#postup").click(function() {
			alert("쓰기");
			
		});
	});
	</script>
	<style>

    

</style>
</th:block>

<!-- page_lib와 page_css 는 위와 같이 추가하여 사용-->
<th:block layout:fragment="contents">
<h3>게시글 작성</h3>
    <div style="padding : 30px;">
          <div class="form-group">
            <label>제목</label>
            <input type="text" name="subject" class="form-control">
          </div>

          <div class="form-group">
            <label>내용</label>
            <textarea name="content" class="form-control" rows="15"></textarea>
          </div>
          <div class="form-group">
			<label>파일</label>
			dddd
          </div>
          <button type="button" class="btn btn-primary" id="postup">글쓰기</button>
</div>
</th:block>
<!-- page_js 필요하면 추가 -->
</html>