<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layout">
<th:block layout:fragment="page_head">
	<title>수정</title>
	<script>
	$(document).ready(function(){
		var para = document.location.href.split("/");
		var pnum = para[4];

		console.log(pnum);
		
	
		$('#postups').click(function() {
			var titles= $('#titles').val();
			var context = $('#context').val();
		
			$.ajax({
				url : "/upposts",
				type : "POST",
				dataType : 'text',
				data : {
					pnum : pnum, title:titles , context:context
				},
				success : function(data) {
					console.log(data);
				 alert("수정");
				 }
				 
				});
		});
	});
	</script>
	<style>

    

</style>
</th:block>

<!-- page_lib와 page_css 는 위와 같이 추가하여 사용-->
<th:block layout:fragment="contents">
<h3>게시글  수정</h3>
    <div id="mainsa"style="padding : 30px;" th:each="post : ${post}">
          <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control" id="titles"  th:value="${post.title}">
          </div>

          <div class="form-group">
            <label>내용</label>
            <textarea name="content" class="form-control" rows="15" id="context" th:text="${post.context}"></textarea>
          </div>
          <div class="form-group">
			<label>파일</label>
			dddd
          </div>
          <button type="button" class="btn btn-primary" id="postups">수정</button>
</div>
</th:block>
<!-- page_js 필요하면 추가 -->
</html>