<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.postmapper">
<select id="postList" resultType="com.example.domain.postVO"> 
select context,look,title,pnum,name,TO_CHAR(postdate, 'YYYY-MM-DD')as postdates from posts ORDER BY pnum DESC
</select> 
<select id="postdetail" resultType="com.example.domain.postVO"> 
select context,look,title,pnum,name,TO_CHAR(postdate, 'YYYY-MM-DD')as postdates from posts where pnum=#{pnum}
</select>
<select id="coment" resultType="com.example.domain.comentVO"> 
select * from coment where pnum=#{pnum}
</select>
<select id="login" resultType="com.example.domain.memberVO"> 
select * from member where id=#{id} and pw=#{pw} 
</select>
<select id="loginCheck" resultType="com.example.domain.memberVO"> 
select * from member where id=#{id} and pw=#{pw} 
</select> 
<select id="idcheck" resultType="com.example.domain.memberVO"> 
select * from member where id=#{id}
</select>
<insert id="newmember" parameterType="com.example.domain.memberVO">
		insert into member(id,pw,name)
		values(#{id},#{pw},#{name})
</insert>
<insert id="newreply" parameterType="map">
		insert into coment(pnum,ccode,text,name)
		values(#{pnum},3,#{text},#{name})
</insert>
<insert id="newpost" parameterType="map">
		insert into posts(pnum,title,context,postdate,name,look)
		values(POSTSEQ.nextval,#{title},#{context},sysdate,#{name},0)
</insert>

<delete id="postdel" parameterType="com.example.domain.postVO">
		delete from posts where pnum = #{pnum} and name = #{name}
</delete>

<update id="postup" parameterType="com.example.domain.postVO">
		update posts set
		title = #{title},
		context = #{context}
		where pnum = #{pnum}
</update>
<update id="lookup" parameterType="com.example.domain.postVO">
		update posts set
		look = look+1
		where pnum = #{pnum}
</update>
<insert id="fileup" parameterType="map">
		insert into postfile(filecode,pnum,filepath,filename)
		values(fileSEQ.nextval,POSTSEQ.currval,#{filepath},#{filename})
</insert>
<select id="file" resultType="com.example.domain.postfile"> 
select * from postfile where pnum=#{pnum}
</select>
<!--페이징  -->
<select id="totalcount" resultType="int"> 
select count(*) as totalcount from posts 
</select> 
<select id="page" resultType="com.example.domain.postVO"> 
<![CDATA[
SELECT context,look,title,pnum,name,TO_CHAR(postdate, 'YYYY-MM-DD')as postdates
  FROM (
            select row_number() over(order by posts.postdate desc) as rnum, posts.*
            from posts
            )
   WHERE rnum>= #{pnm} AND rnum <= #{anm}
   ]]>
</select> 
</mapper>